/*Estilos para portafolio*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Carl-Sans';
    src: url('../assets/fonts/CalSans-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'VarelaRound';
    src: url('../assets/fonts/VarelaRound-Regular.ttf') format('woff2');
    font-weight: lighter;
}

body{
    background-color: #222831;
    color: white;
    font-family: 'VarelaRound',sans-serif;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 1px;
}

.contenedor-Inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/sl_0210121_40570_43.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 1px 10px #424e60;
}

.img-perfil{
    width: 300px;
}

.nombrePropio{
    font-family: 'Carl-Sans',sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}

.link_repo{
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
}

.link_repo:hover{
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; /* Cambia los valores para el tamaño y color */
}

.descripcionPequenaPropia{
    font-family: 'VarelaRound',sans-serif;
    font-weight: lighter;
    font-size: 22px;
    letter-spacing: 1px;
}

/*Seccion de Saludo de bienvenida con una descripcion más amplia*/

.bienvenidaDescripcion{
    flex-direction: column;
    height: 100vh;
}
.contenedorSaludoDescripcion{
    flex-direction: column;
}

.SubTituloSeccion{
    font-family: 'Carl-Sans',sans-serif;
    font-size: 40px;
    text-align: start;
    letter-spacing: 1px;
}

.descripcionCompleta{
    height: auto;
    font-family: 'VarelaRound',sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.imagenIcon{
    width: 35px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.listaNavegacion a{
    transition: transform .2s; /* Animation */
    color: white;
    text-decoration: none;
    list-style: disc;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.listaNavegacion li:hover{
    transform:scaleX(1.05);
}

/*Formacion y cursos*/

.seccionFormaciones{
    background-color: rgba(255, 251, 251, 0.095);
}

.subTituloFormacion{
    font-family: 'VarelaRound',sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}

.imgFormacion {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 8px;
    padding: 4px;

}

.contenedorDescIngeneria{
    flex-direction: column;
}

.contentItemCursos{
    flex-direction: column;
}

/*Proyectos*/
#proyectos{
    background-color: rgba(255, 251, 251, 0.095);
}

.containt-card{
    display: flex;
    gap: 20px;
}

.imgProyectos{
    width: 100%;
    height: 212px;
}

.bodyCard-proyects{
    width: 21rem;
    margin-top: 30px;
    background-color: #9e9e9e;
}

.card-title{
    font-family: 'Carl-Sans',sans-serif;
}
.toolsUsed{
    font-weight: bold;
}

.btn-colorProyecto{
    margin-top: 8px;
    width: 100%;
    background-color: #222831;
    color: white;
}

.btn:hover{
    background-color: #4f73aa;
    color: white;
}

/*Footer*/
.linkFooter{
    color: white;
}

.linkFooter:hover{
    color: #4f73aa;
}
